<div class="body">
    <div id="structureheader">
        <img id="imgheaderLogo" src="./../../../../assets/picture/header.png">
        <img src="./../../../../assets/picture/imgHeadPersonal.jpg" />
    </div>
    <div class="menu_nav">
        <button (click)='account()' class="btn-primary" type="button">Account</button>
        <button (click)='Transfer()' class="btn-primary" type="button">Transfer</button>
        <button (click)='PrompPay()' class="btn-primary" type="button">PromptPay</button>
        <button (click)='SignOut()' class="btn-primary" type="button">Sign Out</button>
    </div>
</div>