.body {
    min-width: 700px;
}

#structureheader {
    margin-bottom: 0;
    padding-bottom: 0;
}

#imgheaderLogo {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    float: left;
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.6);
}

.body img {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    outline: none;
    min-width: 700px;
}

.body .menu_nav {
    background-color: #0b499e;
    text-align: center;
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.6);
    height: 3vw;
    width: 100vw;
    border: none;
    outline: none;
    min-width: 700px;
    min-height: 30px;
}

.body .menu_nav .btn-primary {
    color: white;
    background-color: transparent;
    font-size: 10px;
    border: none;
    outline: none;
    height: 30px;
    width: 100px;
    font-weight: bold;
    display: inline-block;
    padding: 0;
    top: 0;
}

.body .menu_nav .btn-primary:hover {
    color: white;
    background-color: #04367c;
    font-size: 10px;
    border: none;
    outline: none;
    height: 30px;
    width: 100px;
    font-weight: bold;
    display: inline-block;
    padding: 0;
    top: 0;
}

@media screen and (min-width: 701px) {
    .body .menu_nav .btn-primary {
        color: white;
        background-color: transparent;
        font-size: 1.4vw;
        border: none;
        outline: none;
        height: 3vw;
        width: 15vw;
        font-weight: bold;
        display: inline-block;
        padding: 0;
        top: 0;
    }
    .body .menu_nav .btn-primary:hover {
        color: white;
        background-color: #04367c;
        font-size: 1.4vw;
        border: none;
        outline: none;
        height: 3vw;
        width: 15vw;
        font-weight: bold;
        display: inline-block;
        padding: 0;
        top: 0;
    }
}