.bodyShowAccount {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bodyShowDetailAccount {
    position: relative;
    top: 0;
    left: 0;
    min-height: 50vw;
    background-image: url(./../../../../assets/picture/bankground_3_1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 700px;
    /* background: linear-gradient( to bottom, rgb(28, 10, 109), rgb(17, 175, 238)); */
}

.row {
    padding-top: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 30px;
}

.account-card {
    max-width: 26vw;
    min-width: 250px;
    display: block;
    margin-bottom: 30px;
    border-radius: 10px;
}

.account-card-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-image: url('https://png.pngtree.com/element_origin_min_pic/17/02/24/e7dbbf169a4f532d05c2c8522c6eac70.jpg');
    background-size: cover;
}

.account-card-text-header {
    font-size: 6 vw;
    font-weight: bold;
    padding-left: 10px;
}

.account-card-text {
    font-size: 6 vw;
    padding-left: 10px;
}

.account-card-action {
    text-align: right;
}

.btn-primary {
    margin: auto;
    font-size: 6 vw;
    border-radius: 23px;
    outline: none;
    border: none;
}

.column_Amount {
    text-align: right;
    padding-right: 20px;
}