<div class="bodyShowAccount">
    <app-main-manu></app-main-manu>
    <div class="bodyShowDetailAccount">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-4 col-lg-4" *ngFor="let item of list_account">
                <mat-card class="account-card">
                    <mat-card-header>
                        <div mat-card-avatar class="account-card-image"></div>
                        <mat-card-title class="account-card-text-header">{{item['AccountID']}}</mat-card-title>
                        <mat-card-subtitle class="account-card-text">{{item['BalanceAmount']}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions class="account-card-action">
                        <button class="btn-primary" (click)="show_Statement(item['AccountID'])">Show Statement</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <button id="openShowStatement" type="button" class="btn btn-primary" [hidden]="true" data-toggle="modal" data-target="#modalShowStatement">
            Launch demo modal
    </button>
</div>

<div class="modal fade" id="modalShowStatement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Show Statement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Account : {{select_account}}</h6><br>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Amount</th>
                        </tr>
                        <tr *ngFor="let item of list_statement">
                            <td>{{ item.CreateDTM }}</td>
                            <td>{{ item.TxnType.replace('R','Received').replace('S','Sent') }}</td>
                            <td class='column_Amount'>{{ item.NetAmount }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeModalPromptpay" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>