<div class="bodyTransfer">
    <app-main-manu></app-main-manu>
    <div class="bodyDetailTransfer">
        <form class="form-Transfer">
            <img class="imgLogo" src="./../../../../assets/picture/transfer.jpg">
            <h6 class="form-Transfer-heading">Please select type transfer:</h6>
            <input type="radio" (click)='changeTypeTransfer()' [(ngModel)]="check_typeTransfer" [value]="false" name="radion_action" /> TMB OWN
            <input type="radio" (click)='changeTypeTransfer()' [(ngModel)]="check_typeTransfer" [value]="true" name="radion_action" /> PromptPay
            <div *ngIf="!check_typeTransfer">
                <h6 class="form-Transfer-heading">Please select account own:</h6>
                <div *ngIf="check_selectAccount" class='form-Transfer-alert'>
                    <h6>*invalid</h6>
                </div>
                <mat-form-field class="from_select_account">
                    <mat-select [(value)]="select_account" placeholder="">
                        <mat-option *ngFor="let account of listAccounts" [value]="account.value">
                            {{ account.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <h6 class="form-Transfer-heading">Please enter account receive</h6>
                <div *ngIf="check_enterAccountReceive" class='form-Transfer-alert'>
                    <h6>*invalid format</h6>
                </div>
                <input type="text" [(ngModel)]="value_accountReceive" name="input_valueAccountReceive" value="" placeholder="xxx-x-xxxxxx-x" />
                <h6 class="form-Transfer-heading">Please enter amonut:</h6>
                <div *ngIf="check_enterAmonut" class='form-Transfer-alert'>
                    <h6>*invalid</h6>
                </div>
                <input NumberOnly type="text" [(ngModel)]="value_amonut" name="input_valueAmonut" value="" placeholder="number" />
                <br>
                <br>
                <button (click)="Event_BtnOKBankOwn()" class="btn btn-md btn-primary btn-block" type="submit">OK</button>
            </div>
            <div *ngIf="check_typeTransfer">
                <h6 class="form-Transfer-heading">Please select account own:</h6>
                <div *ngIf="check_selectAccount" class='form-Transfer-alert'>
                    <h6>*invalid</h6>
                </div>
                <mat-form-field class="from_select_account">
                    <mat-select [(value)]="select_account" placeholder="">
                        <mat-option *ngFor="let account of listAccounts" [value]="account.value">
                            {{ account.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <h6 class="form-Transfer-heading">Please select type:</h6>
                <input type="radio" [(ngModel)]="check_type_promptpay" [value]="false" name="radion_type_promptpay" /> ID Card
                <input type="radio" [(ngModel)]="check_type_promptpay" [value]="true" name="radion_type_promptpay" /> Mobile Phone
                <div *ngIf="!check_type_promptpay">
                    <h6 class="form-Transfer-heading">Please enter Citizen ID:</h6>
                    <div *ngIf="check_enterValuePromptPay" class='form-Transfer-alert'>
                        <h6>*invalid</h6>
                    </div>
                    <input type="text" [(ngModel)]="value_promptpay" name="input_value_promptpay" value="" placeholder="13 digit number" />
                    <br>
                    <br>
                </div>
                <div *ngIf="check_type_promptpay">
                    <h6 class="form-Transfer-heading">Please enter Mobile phone:</h6>
                    <div *ngIf="check_enterValuePromptPay" class='form-Transfer-alert'>
                        <h6>*invalid</h6>
                    </div>
                    <input NumberOnly type="text" [(ngModel)]="value_promptpay" name="input_value_promptpay" value="" placeholder="10 digit number" />
                    <br>
                    <br>
                </div>
                <h6 class="form-Transfer-heading">Please enter amonut:</h6>
                <div *ngIf="check_enterAmonut" class='form-Transfer-alert'>
                    <h6>*invalid</h6>
                </div>
                <input type="text" [(ngModel)]="value_amonut" name="input_valueAmonut" value="" placeholder="number" />
                <br>
                <br>
                <button (click)="Event_BtnOKPromptPay()" class="btn btn-md btn-primary btn-block" type="submit">OK</button>
            </div>
        </form>
    </div>
    <button id="openModalSameBank" type="button" class="btn btn-primary" [hidden]="true" data-toggle="modal" data-target="#modalSameBank">
            Launch demo modal
    </button>
    <button id="openModalPromptpay" type="button" class="btn btn-primary" [hidden]="true" data-toggle="modal" data-target="#modalPromptpay">
            Launch demo modal
    </button>
    <button id="openModalAlert" type="button" class="btn btn-primary" [hidden]="true" data-toggle="modal" data-target="#modalAlert">
        Launch demo modal
    </button>
</div>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="modalSameBank" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Transfer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">Account ID Sent</div>
                    <div class="col">{{select_account}}</div>
                    <div class="w-100"></div>
                    <div class="col">Account Name Sent</div>
                    <div class="col">{{storage.get('cusName')}}</div>
                    <div class="w-100"></div>
                    <div class="col">Account ID Receive</div>
                    <div class="col">{{value_accountReceive}}</div>
                    <div class="w-100"></div>
                    <div class="col">Account Name Receive</div>
                    <div class="col">{{value_nameAccountReceive}}</div>
                    <div class="w-100"></div>
                    <div class="col">Amount</div>
                    <div class="col">{{value_amonut}} Baht</div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeModalSameBank" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button (click)='confirmSameBank()' type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPromptpay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Transfer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">Account ID Sent</div>
                    <div class="col">{{select_account}}</div>
                    <div class="w-100"></div>
                    <div class="col">Account Name Sent</div>
                    <div class="col">{{storage.get('cusName')}}</div>
                    <div class="w-100"></div>
                    <div class="col">Account ID Receive</div>
                    <div class="col">{{value_promptpay}}</div>
                    <div class="w-100"></div>
                    <div class="col">Account Name Receive</div>
                    <div class="col">{{value_nameAccountReceive}}</div>
                    <div class="w-100"></div>
                    <div class="col">Amount</div>
                    <div class="col">{{value_amonut}} Baht</div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeModalPromptpay" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button (click)='confirmPromptpay()' type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <h6 class='textAlert'>{{alert_message}}</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>