body {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(./../../../../assets/picture/money_paper.jpg);
    background-size: cover;
}

.form-signin {
    max-width: 330px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 20px;
    position: absolute;
    top: 25%;
    left: 38%;
    margin-top: -100;
    margin-left: -100;
    border-radius: 6px;
    background: #FFFFFF;
}

.form-signin .form-signin-heading {
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-signin .form-Alert-heading {
    margin-bottom: 10px;
    margin-top: 10px;
    color: red;
    font-size: 12px;
}

.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .imgLogo {
    width: 75%;
    margin: auto auto;
    display: block;
}