<body>
    <div class="container">
        <form class="form-signin">
            <img class="imgLogo" src="./../../../../assets/picture/logoTMB.png">
            <h6 class="form-signin-heading">Please sign in</h6>
            <div *ngIf="checkAlertEmailPassword">
                <h6 class="form-Alert-heading">*email address or password is incorrect</h6>
            </div>
            <input type="email" [(ngModel)]="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" [(ngModel)]="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
            <button (click)="Event_BtnLogin()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</body>