<div class="bodyShowPromptPay">
    <app-main-manu></app-main-manu>
    <div class="bodyShowDetailPromptPay">
        <form class="form-promptpay">
            <img class="imgLogo" src="./../../../../assets/picture/PromptPay.jpg">
            <h6 class="form-promptpay-heading">Please select Action:</h6>
            <input type="radio" (click)='changeAction()' [(ngModel)]="check_Action" [value]="false" name="radion_action" /> Register
            <input type="radio" (click)='changeAction()' [(ngModel)]="check_Action" [value]="true" name="radion_action" /> Remove
            <div *ngIf="!check_Action">
                <h6 class="form-promptpay-heading">Please select account:</h6>
                <div *ngIf="check_selectAccount" class='form-promptpay-alert'>
                    <h6>*invalid</h6>
                </div>
                <mat-form-field class="from_select_account">
                    <mat-select [(value)]="select_account" placeholder="">
                        <mat-option *ngFor="let account of listAccounts" [value]="account.value">
                            {{ account.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <h6 class="form-promptpay-heading">Please select type:</h6>
                <input type="radio" [(ngModel)]="check_type" [value]="false" name="radion_type" /> ID Card
                <input type="radio" [(ngModel)]="check_type" [value]="true" name="radion_type" /> Mobile Phone
                <div *ngIf="!check_type">
                    <h6 class="form-promptpay-heading">Please enter Citizen ID:</h6>
                    <div *ngIf="check_enterValue" class='form-promptpay-alert'>
                        <h6>*invalid</h6>
                    </div>
                    <input NumberOnly type="text" [(ngModel)]="value_id" name="input_value" value="" placeholder="13 digit number" />
                    <br>
                    <br>
                </div>
                <div *ngIf="check_type">
                    <h6 class="form-promptpay-heading">Please enter Mobile phone:</h6>
                    <div *ngIf="check_enterValue" class='form-promptpay-alert'>
                        <h6>*invalid</h6>
                    </div>
                    <input NumberOnly type="text" [(ngModel)]="value_id" name="input_value" value="" placeholder="10 digit number" />
                    <br>
                    <br>
                </div>
                <button (click)="Event_BtnRegister()" class="btn btn-md btn-primary btn-block" type="submit">Register</button>
            </div>
            <div *ngIf="check_Action">
                <h6 class="form-promptpay-heading">Please select type:</h6>
                <input type="radio" [(ngModel)]="check_type" [value]="false" name="radion_type" /> ID Card
                <input type="radio" [(ngModel)]="check_type" [value]="true" name="radion_type" /> Mobile Phone
                <div *ngIf="!check_type">
                    <h6 class="form-promptpay-heading">Please enter Citizen ID:</h6>
                    <div *ngIf="check_enterValue" class='form-promptpay-alert'>
                        <h6>*invalid</h6>
                    </div>
                    <input NumberOnly type="text" [(ngModel)]="value_id" name="input_value" value="" placeholder="13 digit number" />
                    <br>
                    <br>
                </div>
                <div *ngIf="check_type">
                    <h6 class="form-promptpay-heading">Please enter Mobile phone:</h6>
                    <div *ngIf="check_enterValue" class='form-promptpay-alert'>
                        <h6>*invalid</h6>
                    </div>
                    <input NumberOnly type="text" [(ngModel)]="value_id" name="input_value" value="" placeholder="10 digit number" />
                    <br>
                    <br>
                </div>
                <button (click)="Event_BtnRemove()" class="btn btn-md btn-danger btn-block" type="submit">Remove</button>
            </div>
        </form>
    </div>
    <button id="openModalAlert" type="button" class="btn btn-primary" [hidden]="true" data-toggle="modal" data-target="#modalAlert">
        Launch demo modal
    </button>
</div>

<div class="modal fade" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <h6 class='textAlert'>{{alert_message}}</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>