.bodyShowPromptPay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bodyShowDetailPromptPay {
    position: relative;
    top: 0;
    left: 0;
    min-height: 50vh;
    background-image: url(./../../../../assets/picture/bankground_3_1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 700px;
    padding-top: 4vh;
    padding-bottom: 6vh;
    /* background: linear-gradient( to bottom, rgb(28, 10, 109), rgb(17, 175, 238)); */
}

.form-promptpay {
    /* padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 30px;
    padding-top: 20px;
    border-radius: 6px; */
    /* margin-left: 50vh;
    margin-right: 50vh; */
    /* margin-bottom: 20px;
    background: #FFFFFF; */
    max-width: 450px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 20px;
    position: relative;
    /* top: 25%;
    left: 38%; */
    left: 35vw;
    border-radius: 6px;
    background: #FFFFFF;
}

.form-promptpay .imgLogo {
    width: 60%;
    margin: auto auto;
    display: block;
    margin-bottom: 1vw;
}

.form-promptpay .form-promptpay-heading {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1 rem;
    margin-left: 9px;
}

.form-promptpay .form-promptpay-alert {
    font-size: 1 rem;
    color: red;
    margin-left: 14px;
}

input[type="radio"] {
    margin-left: 4vw;
}

.from_select_account {
    margin-left: 6vw;
}

input[type="text"] {
    border-bottom: 1px solid gray;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background-color: transparent;
    outline: none;
    text-align: center;
    margin-left: 2vw;
    width: 10 vw;
    margin-left: 6vw;
}

input[type="text"]:focus {
    border-bottom: 1px solid black;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background-color: transparent;
    outline: none;
    text-align: center;
    margin-left: 2vw;
    width: 10 vw;
    margin-left: 6vw;
}

.btn {
    width: 50%;
    margin: auto auto;
    margin-bottom: 10px;
}

.modal-body .textAlert {
    text-align: center;
}